/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,600&family=Gulzar&family=Inter:wght@500;600;800&family=Kanit&family=Karla:wght@500&family=Lato:wght@900&family=Lexend+Deca:wght@300;400;500&family=Lexend:wght@200;300;400&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Roboto+Slab&family=Satisfy&family=Varela+Round&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

*:root {
    --black: #161616;
    --white: #FFFFFF;
    --red: #DD0000;
    --deep-gray: #4D4D4D;
    --light-gray: #B9B9B9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common styles */

/* ------------
---top-banners---
------------------ */

.top_banners {
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.top_banners-heading {
    color: var(--white);
    /* display: flex;
    justify-content: space-around; */
}

/*-----------
---sidebar----
-------------- */

/*-------------
-----main-section----
------------------ */

/*-------------
----footer-area------
-------------------- */

/* ------------------
     Media Queries
------------------------- */