/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,600&family=Gulzar&family=Inter:wght@500;600;800&family=Kanit&family=Karla:wght@500&family=Lato:wght@900&family=Lexend+Deca:wght@300;400;500&family=Lexend:wght@200;300;400&family=Montserrat:wght@600&family=Poppins:wght@400;500;600;700&family=Roboto&family=Roboto+Slab&family=Satisfy&family=Varela+Round&display=swap');

body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

*:root {
    --black: #161616;
    --white: #FFFFFF;
    --red: #DD0000;
    --deep-gray: #4D4D4D;
    --light-gray: #B9B9B9;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common styles */

/* ------------
---top-banners---
------------------ */
a {
    text-decoration: none;
    color: var(--white);
}

.top_banners {
    height: 500px;
    margin: 2rem 6rem 6rem 6rem;
    border-radius: 20px;
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.top_banners-heading {
    margin: 0 9rem 6rem 3rem;
    color: var(--white);
}

.top_banners-heading h1 {
    font-size: 2.5rem;
}

.top_banners-paragraph p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 12px;
}

.top_banners-button button {
    height: 3rem;
    width: 150px;
    border-radius: 5px;
    background-color: var(--red);
}

.top_banners-button i {
    margin-left: .6rem;
    color: var(--white);
}

.top_banners-image {
    margin-top: 2rem;
    margin-right: 3rem;
}

.top_banners-image img {
    height: 90%;
}

.container {
    margin: 2rem 6rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr repeat (12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "s s s o o o t t t h h h"
        "s s s f f f i i i m m m"
        "s s s e e e g g g n n n"
    ;
}

/*-----------
---sidebar----
-------------- */
.side_button {
    grid-area: s;
}

.side_button-section {
    background-color: var(--black);
    padding: 12px;
    border-radius: 8px;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.side_button-section button {
    height: 2.7rem;
    width: 10rem;
    border-radius: 8px;
}

.red_button {
    color: var(--white);
    background-color: var(--red);
}

/*-------------
-----main-section----
------------------ */
.main_section-one {
    grid-area: o;
}

.main_section-two {
    grid-area: t;
}

.main_section-three {
    grid-area: h;
}

.main_section-four {
    grid-area: f;
}

.main_section-five {
    grid-area: i;
}

.main_section-six {
    grid-area: m;
}

.main_section-seven {
    grid-area: e;
}

.main_section-eight {
    grid-area: g;
}

.main_section-nine {
    grid-area: n;
}

.text_sectino {
    margin: 1rem 0 1rem 1rem;
}

.text_sectino p {
    margin-top: .7rem;
    margin-right: 3rem;
    font-size: 13px;
    font-weight: 500;
}

span {
    border: 1px solid var(--black);
    border-radius: 5px;
    padding: 2px 15px;
    font-size: 13px;
}

.border {
    border: 1px solid var(--light-gray);
    border-radius: 15px;
}


.main_section-details {
    margin-top: 1rem;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.main_section-image img {
    width: 100%;
}

/*-------------
----footer-area------
-------------------- */
.footer {
    margin-top: 6rem;
    height: 250px;
    color: var(--white);
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer h2 {
    font-weight: 500;
}

.footer hr {
    width: 80%;
    margin: 2rem 0;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer span {
    font-size: 12px;
    color: var(--light-gray);
}

/* ------------------
     Media Queries
------------------------- */