/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Poppins:wght@500&family=Satisfy&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    min-height: 100vh;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "b b b b b b b b b b b b"
        "s s m m m m m m m m m m"
        "f f f f f f f f f f f f"
    ;
}

/*-----------top-banners------------ */


a {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 30px;
    border-radius: 10px;
}

.button {
    color: #FFFFFF;
    margin-top: 5%;
    margin-bottom: 5%;
}

#top-banners {
    color: #FFFFFF;
    grid-area: b;
}

#backround {
    background-color: #161616;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 5% 15% 0 5%;

}

.heading {
    padding-right: 10%;
}

#image img {
    height: 100%;
}

/*-----------sidebar------------ */
#sidebar {
    background-color: brown;
    grid-area: s;
}

/*-----------main-section------------ */
main {
    grid-area: m;
}

#main-functions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

.main-function {
    border: 1px solid gray;
    border-radius: 18px;
    font-weight: 600;
}

.main-function img {
    width: 100%;
}

.blogs {
    padding: 20px;
}

.information {
    display: flex;
    gap: 3%;
}

/*-----------footer-area------------ */

footer {
    height: 444px;
    background-color: #161616;
    grid-area: f;
    color: #FFFFFF;
    text-align: center;
    margin-top: 8%;
}

hr {
    margin-top: 2%;
    width: 70%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    ;
}

#bottom {
    margin-top: 5%;
}

#content {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 3%;
}